<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ServiceName" value="BillerSimulator"/>
    <add key="IsTestReponse" value="False"/>
    <add key="EnableSecuity" value="True"/>
    <add key="SecurityMode" value="WithFormat"/>
    <add key="XPath" value=".//MsgBody"/>
    <add key="MFEPCertificateSerialNumber" value="16 ae 55 e3 00 01 00 00 00 db"/>
    <add key="BillerCertificateSerialNumber" value="‎16 ae 55 e3 00 01 00 00 00 db"/>
    <add key="AllowPart" value="false"/>
    <add key="Upper" value="1000"/>
    <add key="Lower" value="10"/>
    <add key="ExceptionPath" value="C:\Exception"/>
    <add key="SuccessPMTNotiRequestPath" value="C:\Biller\PaymentNotification\Success\Request"/>
    <add key="SuccessPMTNotiResponsePath" value="C:\Biller\PaymentNotification\Success\Response"/>
    <add key="FailedPMTNotiRequestPath" value="C:\Biller\PaymentNotification\Failed\Request"/>
    <add key="FailedPMTNotiResponsePath" value="C:\Biller\PaymentNotification\Failed\Response"/>
    <add key="BillerCode" value="191"/>
    <add key="MFEPCode" value="1"/>
    <add key="ServiceType" value="Payment"/>
    <add key="BillPullRequestPath" value="C:\Biller\BillPull\Request"/>
    <add key="BillPullResponsePath" value="C:\Biller\BillPull\Response"/>
    <add key="TimeDifference" value="-5"/>
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.9)(PORT=1251)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=dv10g)));User Id=billmain;Password=billmain;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MFEPWSHttpBinding" sendTimeout="00:01:00" receiveTimeout="00:01:00" bypassProxyOnLocal="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
            <message clientCredentialType="None" negotiateServiceCredential="false" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="MFEPWSHttpsBinding" sendTimeout="00:01:00" receiveTimeout="00:01:00" bypassProxyOnLocal="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="BillerIntegration.BillerServices">
        <endpoint address="/BillPull" binding="wsHttpBinding" bindingConfiguration="MFEPWSHttpsBinding" contract="BillerIntegration.IBillerServices"/>
        <endpoint address="/Prepaid" binding="wsHttpBinding" bindingConfiguration="MFEPWSHttpsBinding" contract="BillerIntegration.IBillerPrepaid"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False"  httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <useRequestHeadersForMetadataAddress/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size"/>
  </system.webServer>
<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\asp.net\Traces.svclog"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>